@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: oklch(0.125 0 0);
  --color-foreground: oklch(0.98 0 0);

  --color-secondary: oklch(0.25 0 0);
  --color-secondary-foreground: oklch(0.96 0 0);

  --color-muted: oklch(0.325 0 0);
  --color-muted-foreground: oklch(0.7 0 0);

  --color-accent: oklch(0.968 0.211 109.77);
  --color-accent-foreground: oklch(0.205 0 0);

  --color-border: oklch(1 0 0 / 10%);
  --color-input: oklch(1 0 0 / 15%);
  --color-ring: var(--color-accent);

  --wrapper-xs: 12rem;
  --wrapper-sm: 24rem;
  --wrapper-md: 36rem;
  --wrapper-lg: 48rem;
  --wrapper-xl: 60rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;

  --breakpoint-xs: 30rem;
}

@layer base {
  ::selection {
    @apply bg-accent/15;
  }

  html {
    @apply scroll-smooth scroll-pt-12 scrollbar-4;
  }

  body {
    @apply bg-background text-foreground;
    @apply absolute inset-0;

    --grid-color: oklch(1 0 0 / 5%);

    background-size: 4rem 4rem;
    animation: grid-pulse 2s infinite;
    background-image: linear-gradient(
        to right,
        var(--grid-color) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  }

  p {
    @apply mx-auto text-pretty text-muted-foreground;
    max-width: min(100vw - 1.8rem, 50ch);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-center;
  }

  h1 {
    @apply text-6xl md:text-7xl;
    @apply font-bold tracking-tight leading-tight;
  }

  h2 {
    @apply text-4xl md:text-5xl;
    @apply font-bold tracking-tight leading-tight;
  }

  h3 {
    @apply text-3xl md:text-4xl;
    @apply font-bold tracking-tight leading-tight;
  }

  h4 {
    @apply text-2xl md:text-3xl;
    @apply font-semibold tracking-tight leading-snug;
  }

  h5 {
    @apply text-xl md:text-2xl;
    @apply font-semibold tracking-tight leading-snug;
  }

  h6 {
    @apply text-lg md:text-xl;
    @apply font-semibold tracking-tight leading-snug;
  }

  section {
    @apply py-12 wrapper-xl;
  }
}

@utility card {
  @apply bg-secondary/25 p-6 rounded-md backdrop-blur-sm;
  @apply border border-border shadow-lg hover:shadow-xl;
  @apply transition-colors duration-200 ease-out;
}

@utility bar {
  @apply absolute;
  @apply bg-linear-to-t from-accent to-accent/0;
}

@utility wrapper-* {
  @apply mx-auto w-[calc(100%-1.8rem)] xs:w-[calc(100%-4rem)] md:w-[calc(100%-6rem)] lg:w-[calc(100%-8rem)];
  max-width: --value(--wrapper- *, integer);
}

@utility scrollbar-* {
  &::-webkit-scrollbar {
    width: calc(--value(number) * 2px);
    height: calc(--value(number) * 2px);
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-secondary/75 rounded-full;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary/85;
  }
}
